<div class="largeChat">
    <mat-list>
        <mat-list-item>
            <h5>Chats</h5>
            <mat-icon class="clickable-icon" (click)="open()">edit_note</mat-icon>
        </mat-list-item>
    </mat-list>

    <div class="chat-search">
        <app-search-bar />
    </div>

    <div class="chat-list">
        <div class="chat-bubble" *ngFor="let chat of chats">
            <div class="chat-avatar">{{ chat.charAt(0).toUpperCase() }}</div>
            <span class="chat-name">{{ chat }}</span>
        </div>
    </div>
</div>
