<mat-sidenav-container autosize>
  <mat-sidenav [style.width]="width" [mode]="'side'" [opened]="true">
    <mat-nav-list>
      
      <a mat-list-item>
        <mat-icon aria-hidden="false" class="alignedCenter">chat</mat-icon>
        <span *ngIf="isExpanded">Chats</span>
      </a>

      <a mat-list-item>
        <mat-icon aria-hidden="false" class="alignedCenter">people</mat-icon>
        <span *ngIf="isExpanded">People</span>
      </a>

      <a mat-list-item>
        <mat-icon aria-hidden="false" class="alignedCenter">house</mat-icon>
        <span *ngIf="isExpanded">House</span>
      </a>

      <a mat-list-item>
        <mat-icon aria-hidden="false" class="alignedCenter">restore_from_trash</mat-icon>
        <span *ngIf="isExpanded">Archive</span>
      </a>

      <div [class]="placeIconBottom">
        <a mat-list-item>
          <mat-icon>person</mat-icon>
        </a>

        <a mat-list-item (click)="toggleMenu()">
          <mat-icon>view_sidebar</mat-icon>
        </a>
      </div>

    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <app-chat (openNewMessage)="openNewMessage()"></app-chat>
    <app-new-message *ngIf="isNewMessageVisible"></app-new-message>
  </mat-sidenav-content>

</mat-sidenav-container>
