h1 {
    padding: 0 1rem;
}

h2 {padding: 1rem;}

mat-toolbar{
    position:fixed;
    top:0;
    z-index: 2;
}

mat-sidenav-container {
    height:100%;
}

mat-sidenav {
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
      padding-top: 4rem;
    }

    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:0.75rem;
    }
  }

mat-sidenav-content{
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
        padding-top: 4rem;
    }
}

.under {
    display: flex;
    align-items: center;
}

.side-by-side{
   display:inline-block;
   align-items: center;
   /* border-width: 2px;
   border-color: red;
   border-style: dashed; */
}

.expanded {
    width: auto;   
}

.bottomStick {
    position:absolute; 
    bottom:0
}
.bottomRelative{
    position:relative;
}

.alignedCenter{
    vertical-align: middle;
    margin: 10px 5px;
}
