<mat-sidenav-container autosize>
  <mat-sidenav [style.width]="width" [mode]="'side'" [opened]="'true'">
    <mat-nav-list>

      <a mat-list-item>
        <mat-icon aria-hidden="false" class="alignedCenter">chat</mat-icon>

        @if(isOpened){

          Chats
        }
      </a>

      <a mat-list-item>
        <mat-icon aria-hidden="false" class="alignedCenter">people</mat-icon>

        @if(isOpened){
          People
        }
      </a>

      <a mat-list-item>

        <mat-icon aria-hidden="false" class="alignedCenter">house</mat-icon>

        @if(isOpened){
          House
        }
      </a>

      <a mat-list-item>
        <mat-icon aria-hidden="false" class="alignedCenter">restore from trash</mat-icon>

        @if(isOpened){
          Archive
        }
      </a>

      <div [class]='placeIconBottom'>

        <a mat-list-item>
          <mat-icon>person</mat-icon>
        </a>

        <a mat-list-item (click)="toggleMenu()">
          <mat-icon>view_sidebar</mat-icon>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-chat />
  </mat-sidenav-content>
</mat-sidenav-container>